<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test Yahoo weather i2cat - fsagaz</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">    
    <link rel="stylesheet" href="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body class="container" ng-app="myApp">
    <main ng-controller='WeatherController'>
        <div ng-show=loaded>
            <div class="panel panel-default">
                <div class="panel-heading">{{cityname}}</div>
                <div class="panel-body">
                    <div class="list-group-item-heading">
                        <b>{{forecasts[0].day}} - {{forecasts[0].date}} </b>
                    </div>
                    <div class="list-group-item-text">
                        <p>{{temp}} - {{text}} <img src="{{icongif}}"/></p>
                        <span>Highest temp: {{forecasts[0].high}} ºC - Lowest temp: {{forecasts[0].low}} ºC </span>
                        <span>{{forecasts[0].text}}</span>
                    </div>
                </div>
            </div>
            <div class="row controls">
                <div class="col-md-6 location">
                    <select class="form-control" ng-model="city_selected" ng-options="city for city in cities" ng-change="changed()"> </select>
                </div>
                <div class="col-md-6 forecast">
                    <rzslider rz-slider-model="forecastSlider.value" 
                              rz-slider-options="forecastSlider.options">
                    </rzslider>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">Forecast</div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="forecast in forecasts" ng-hide="$first">
                            <div class="list-group-item-heading">
                                <b>{{forecast.day}} - {{forecast.date}} </b>
                            </div>
                            <div class="list-group-item-text">
                                <span>Highest temp: {{forecast.high}} ºC - Lowest temp: {{forecast.low}} ºC </span>
                                <span>{{forecast.text}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div ng-show=!loaded class="jumbotron">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                </div>
            </div>
            <h1>Loading....</h1>
        </div>
    </main>

</body>

</html>