@import url('node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('node_modules/angularjs-slider/dist/rzslider.min.css');

body {
    padding-top: 20px;
}

.panel ul {
    padding: 0px;
}

.panel ul li {
    list-style-type: none;
    padding: 1%;
    margin: 0px
}

.panel li:nth-child(odd) {
    color: #31708f;
}

.panel li:nth-child(even) {
    color: #31708f;
    background-color: #d9edf7;
}

.controls {
    padding-bottom: 20px;
}

.controls .location {
    padding-top: 20px;
}
